.bg-taupe-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 246 241 / var(--tw-bg-opacity, 1));
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}